{% extends 'base.html' %}

{% block title %}
Технологии
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-12 text-center">
            <h1>Технологии</h1><br><br>
        </div>

        {% if articles|length > 0 %}
            {% for el in articles %}
            <div class="alert alert-warning">
                <div class="col-12 text-center">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.intro }}</p>
                </div>
                <p><b>Дата: {{ el.date.date() }}</b></p>
                <a class="btn btn-danger" href="/posts/{{ el.id }}">Детально</a>
            </div>
            {% endfor %}
        {% else %}
            <p>Пока отсутствуют описания технологий</p>
        {% endif %}

    </div>
{% endblock %}